body{
	background-color:#e6ccff;
}
div.child{
	width:100px;
	height:200px;
	/*padding:2px;*/
	font-family: helevetica;
	border: 2px black solid;
	background-color: #ffff4d;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:16px;	
	float: left;
	overflow:auto;
	position:relative;
	box-sizing:border-box;
}

#one p{
	background-color: #77b300;
	position:relative;
	top:-16px;
	
}
#one{
	background-color:#aaff00;
	
	
}
#two{
	background-color:#00bfff;
	
}
#two p{
	background-color:#ff5c33;
	position:relative;
	top:-16px;
}

/*div.design1{
	width:100px;
	height:50px;
	float:left;
	clear:right;
	background-color:#ff0066;
}*/


p{
	width:100%;
	background-color:#ff99ff;
	text-align:right;
	position:relative;
	top:-16px;
	
}
h1{
	text-align:left;
	margin-left:16px;
	text-decoration:underline;
	color:#ff4d94;
}
h1::first-letter{
	background-color:#ffffcc;
}
.footer{
	width:95%;
	margin-left:16px;
	clear:left;
	text-align:left;
	background-color:#ff80ff;
}

@media (min-width:992px){
	div.child{
	width:30%;
	border: 1px black solid;
	margin-bottom:10px;
	float: left;
}
}
@media (min-width:768px) and (max-width:991px){
	div.child{
	width: 40%;	
	border: 1px black solid;
	
	margin-bottom:10px;
	float: left;
}
}

@media (max-width:767px){
	div.child{
	width: 80%;	
	border: 1px black solid;
	
	margin-bottom:10px;
	float: left;
}

}

